body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(33, 33, 33);
    color: white;
}

.timer-container {
    text-align: center;
    background-color: rgb(33, 33, 33);
    padding: 40px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
    border-radius: 5%;
}